 .u-section-1 {
  filter: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1105px;
}

.u-section-1 .u-image-1 {
  width: 425px;
  height: 272px;
  margin: 796px auto 37px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1059px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1028px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 939px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 218px;
  }
} .u-section-2 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/AdobeStock_466943588.jpeg');
  background-size: cover, cover;
}

.u-section-2 .u-sheet-1 {
  min-height: 139px;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 76px;
  }
} .u-section-3 {
  background-position: 50% 50%, 50% 50%;
  background-size: cover;
}

.u-section-3 .u-sheet-1 {
  min-height: 229px;
}

.u-section-3 .u-text-1 {
  font-size: 1rem;
  margin: 25px 0;
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 255px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 11px;
    margin-bottom: 20px;
  }
} .u-section-4 {
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('images/AdobeStock_466943588.jpeg');
  background-size: cover, cover;
}

.u-section-4 .u-sheet-1 {
  min-height: 43px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  width: 103px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
   .u-section-4 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-text-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 58px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 43px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 37px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}.u-block-a6e3-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-a6e3-3 {
  position: absolute;
  left: calc(((100% - 1140px) / 2)  + 113px);
  width: 46px;
  height: 46px;
  right: auto;
  padding: 0;
}

.u-block-a6e3-4 {
  position: absolute;
  width: 46px;
  height: 46px;
  left: auto;
  right: calc(((100% - 1140px) / 2)  + 113px);
  padding: 0;
}

@media (max-width: 1199px) {
  .u-block-a6e3-3 {
    left: calc(((100% - 940px) / 2)  + 93px);
  }

  .u-block-a6e3-4 {
    right: calc(((100% - 940px) / 2)  + 93px);
  }
}

@media (max-width: 991px) {
  .u-block-a6e3-3 {
    left: calc(((100% - 720px) / 2)  + 71px);
  }

  .u-block-a6e3-4 {
    right: calc(((100% - 720px) / 2)  + 71px);
  }
}

@media (max-width: 767px) {
  .u-block-a6e3-3 {
    left: calc(((100% - 540px) / 2)  + 53px);
  }

  .u-block-a6e3-4 {
    right: calc(((100% - 540px) / 2)  + 53px);
  }
}

@media (max-width: 575px) {
  .u-block-a6e3-3 {
    left: calc(((100% - 340px) / 2)  + -3px);
  }

  .u-block-a6e3-4 {
    right: calc(((100% - 340px) / 2)  + -3px);
  }
}

 .u-section-5-1 {
  filter: none;
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('images/WILDGARD-WILDGARD_WORLD-WindowsMacLinux-Unity2021.3.38f1Personal__DX11_31_08_202418_10_30.png');
  background-size: cover, cover;
}

.u-section-5-1 .u-sheet-1 {
  min-height: 739px;
}

.u-section-5-1 .u-image-1 {
  filter: none;
  width: 914px;
  height: 641px;
  margin: 46px auto 52px;
}

@media (max-width: 1199px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-5-1 .u-image-1 {
    width: 720px;
    height: 505px;
  }
}

@media (max-width: 767px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-5-1 .u-image-1 {
    width: 540px;
    height: 379px;
  }
}

@media (max-width: 575px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-5-1 .u-image-1 {
    width: 340px;
    height: 239px;
    margin-top: 29px;
  }
}

 .u-section-5-2 {
  filter: none;
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('images/WILDGARD-WILDGARD_WORLD-WindowsMacLinux-Unity2021.3.38f1Personal__DX11_31_08_202418_10_30.png');
  background-size: cover, cover;
}

.u-section-5-2 .u-sheet-1 {
  min-height: 739px;
}

.u-section-5-2 .u-image-1 {
  filter: none;
  width: 914px;
  height: 641px;
  margin: 49px auto;
}

@media (max-width: 1199px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-5-2 .u-image-1 {
    width: 720px;
    height: 505px;
  }
}

@media (max-width: 767px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-5-2 .u-image-1 {
    width: 540px;
    height: 379px;
  }
}

@media (max-width: 575px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-5-2 .u-image-1 {
    width: 340px;
    height: 239px;
    margin-top: 29px;
  }
}

 .u-section-5-3 {
  filter: none;
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('images/WILDGARD-WILDGARD_WORLD-WindowsMacLinux-Unity2021.3.38f1Personal__DX11_31_08_202418_10_30.png');
  background-size: cover, cover;
}

.u-section-5-3 .u-sheet-1 {
  min-height: 739px;
}

.u-section-5-3 .u-image-1 {
  filter: none;
  width: 914px;
  height: 641px;
  margin: 49px auto;
}

@media (max-width: 1199px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-5-3 .u-image-1 {
    width: 720px;
    height: 505px;
  }
}

@media (max-width: 767px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-5-3 .u-image-1 {
    width: 540px;
    height: 379px;
  }
}

@media (max-width: 575px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-5-3 .u-image-1 {
    width: 340px;
    height: 239px;
    margin-top: 29px;
  }
}

 .u-section-5-4 {
  filter: none;
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('images/WILDGARD-WILDGARD_WORLD-WindowsMacLinux-Unity2021.3.38f1Personal__DX11_31_08_202418_10_30.png');
  background-size: cover, cover;
}

.u-section-5-4 .u-sheet-1 {
  min-height: 739px;
}

.u-section-5-4 .u-image-1 {
  filter: none;
  width: 914px;
  height: 641px;
  margin: 49px auto;
}

@media (max-width: 1199px) {
  .u-section-5-4 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-5-4 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-5-4 .u-image-1 {
    width: 720px;
    height: 505px;
  }
}

@media (max-width: 767px) {
  .u-section-5-4 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-5-4 .u-image-1 {
    width: 540px;
    height: 379px;
  }
}

@media (max-width: 575px) {
  .u-section-5-4 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-5-4 .u-image-1 {
    width: 340px;
    height: 239px;
    margin-top: 29px;
  }
}

 .u-section-5-5 {
  filter: none;
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('images/WILDGARD-WILDGARD_WORLD-WindowsMacLinux-Unity2021.3.38f1Personal__DX11_31_08_202418_10_30.png');
  background-size: cover, cover;
}

.u-section-5-5 .u-sheet-1 {
  min-height: 739px;
}

.u-section-5-5 .u-image-1 {
  filter: none;
  width: 914px;
  height: 641px;
  margin: 49px auto;
}

@media (max-width: 1199px) {
  .u-section-5-5 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-5-5 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-5-5 .u-image-1 {
    width: 720px;
    height: 505px;
  }
}

@media (max-width: 767px) {
  .u-section-5-5 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-5-5 .u-image-1 {
    width: 540px;
    height: 379px;
  }
}

@media (max-width: 575px) {
  .u-section-5-5 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-5-5 .u-image-1 {
    width: 340px;
    height: 239px;
    margin-top: 29px;
  }
}

 .u-section-5-6 {
  filter: none;
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('images/WILDGARD-WILDGARD_WORLD-WindowsMacLinux-Unity2021.3.38f1Personal__DX11_31_08_202418_10_30.png');
  background-size: cover, cover;
}

.u-section-5-6 .u-sheet-1 {
  min-height: 739px;
}

.u-section-5-6 .u-image-1 {
  filter: none;
  width: 914px;
  height: 641px;
  margin: 49px auto;
}

@media (max-width: 1199px) {
  .u-section-5-6 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-5-6 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-5-6 .u-image-1 {
    width: 720px;
    height: 505px;
  }
}

@media (max-width: 767px) {
  .u-section-5-6 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-5-6 .u-image-1 {
    width: 540px;
    height: 379px;
  }
}

@media (max-width: 575px) {
  .u-section-5-6 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-5-6 .u-image-1 {
    width: 340px;
    height: 239px;
    margin-top: 29px;
  }
}

 .u-section-5-7 {
  filter: none;
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('images/WILDGARD-WILDGARD_WORLD-WindowsMacLinux-Unity2021.3.38f1Personal__DX11_31_08_202418_10_30.png');
  background-size: cover, cover;
}

.u-section-5-7 .u-sheet-1 {
  min-height: 739px;
}

.u-section-5-7 .u-image-1 {
  filter: none;
  width: 914px;
  height: 641px;
  margin: 49px auto;
}

@media (max-width: 1199px) {
  .u-section-5-7 .u-sheet-1 {
    min-height: 609px;
  }
}

@media (max-width: 991px) {
  .u-section-5-7 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-5-7 .u-image-1 {
    width: 720px;
    height: 505px;
  }
}

@media (max-width: 767px) {
  .u-section-5-7 .u-sheet-1 {
    min-height: 204px;
  }

  .u-section-5-7 .u-image-1 {
    width: 540px;
    height: 379px;
  }
}

@media (max-width: 575px) {
  .u-section-5-7 .u-sheet-1 {
    min-height: 64px;
  }

  .u-section-5-7 .u-image-1 {
    width: 340px;
    height: 239px;
  }
} .u-section-6 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("images/AdobeStock_466943588.jpeg");
  background-size: cover, cover;
}

.u-section-6 .u-sheet-1 {
  min-height: 513px;
}

.u-section-6 .u-video-1 {
  filter: none;
  width: 789px;
  height: 513px;
  margin: 0 auto;
}

.u-section-6 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 423px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 279px;
  }

  .u-section-6 .u-video-1 {
    width: 720px;
    height: 468px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 162px;
  }

  .u-section-6 .u-video-1 {
    width: 540px;
    height: 351px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 32px;
  }

  .u-section-6 .u-video-1 {
    width: 340px;
    height: 221px;
  }
}